/* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#thumbnail {
    background-image: url(https://images7.alphacoders.com/768/768576.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    // font-family: 'Inter', sans-serif;
}

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=PT+Serif:ital@1&family=Poppins&family=Roboto&family=Ubuntu&display=swap');
// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Ubuntu', sans-serif;
